[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = "4.35.0"
auto-gptq = "*"
optimum = "1.14.0"
ray = "2.8.0"
chromadb = "0.4.17"
uuid = "1.30"
jupyter = "*"
scipy = "1.11.4"

[dev-packages]

[requires]
python_version = "3.9"
